<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
  
      <h1 class="logo me-auto"><a href="index.html">Courzelo</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" routerLink="./home">Home</a></li>
          <li><a routerLink="./about">About</a></li>
          <li class="dropdown"><a routerLink="./courses"><span>Courses</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/courses">Courses</a></li>
              <li><a href="#">Claim</a></li>
              <li><a href="#">Degital sertificate</a></li> 
            
            </ul>
          </li>
          
          <li><a routerLink="./trainingCenter">Traning center</a></li>
          <li><a routerLink="./events">Events</a></li>
          <li><a routerLink="./blog">Blog</a></li>
  
          <li class="dropdown"><a routerLink="./company"><span>Company</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="companies">Company</a></li>
              <li class="dropdown"><a routerLink="./interview"><span>Interview</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a routerLink="./job">Job</a></li>
                  <li><a routerLink="./intership">Internship</a></li>
                
                  
                </ul>
            
            </ul>
          </li>
          <li><a routerLink="./contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
      <a routerLink="./login" class="get-started-btn">Get Started</a>
  
    </div>
  </header><!-- End Header -->
  <router


  
